# Notebook to evaluate variable importance

In [2]:
import pandas as pd

In [3]:
df = pd.read_csv ('../../data/creditcard_v2.csv')

In [8]:
df_smote = pd.read_csv ('../../data/creditcard_train.csv')

## 1. Random Forest

In [9]:
from sklearn.ensemble import RandomForestClassifier

In [48]:
X = df.iloc [:, 1:-1]
y = df.Class

In [49]:
X_smote = df_smote.iloc [:, 0:-1]
y_smote = df_smote.Class

In [51]:
rf = RandomForestClassifier (n_estimators = 100, random_state = 42)
model = rf.fit (X, y)

In [52]:
rf = RandomForestClassifier (n_estimators = 100, random_state = 42)
model_smote = rf.fit (X_smote, y_smote)

In [53]:
variable_importance = (
    pd.DataFrame (
        [X_smote.columns, model.feature_importances_, model_smote.feature_importances_])
    .transpose ()
    .sort_values (by = 1, ascending = False))

In [54]:
variable_importance.columns = ['Variable','Importance','Smote_Importance']

In [55]:
variable_importance

   Variable  Importance Smote_Importance
9       V10    0.172896         0.172896
13      V14    0.168682         0.168682
11      V12     0.10661          0.10661
10      V11   0.0950947        0.0950947
16      V17   0.0888644        0.0888644
3        V4   0.0727701        0.0727701
15      V16   0.0644955        0.0644955
6        V7   0.0445486        0.0445486
2        V3   0.0445157        0.0445157
1        V2   0.0176215        0.0176215
28   Amount   0.0141008        0.0141008
17      V18   0.0123402        0.0123402
8        V9   0.0110696        0.0110696
26      V27  0.00996526       0.00996526
20      V21  0.00798667       0.00798667
0        V1  0.00737809       0.00737809
4        V5    0.007203         0.007203
27      V28  0.00676586       0.00676586
7        V8  0.00577787       0.00577787
5        V6  0.00541111       0.00541111
18      V19  0.00494247       0.00494247
19      V20  0.00453287       0.00453287
12      V13  0.00429461       0.00429461
14      V15  0.00423247       0.00423247
24      V25  0.00387502       0.00387502
22      V23  0.00375736       0.00375736
25      V26  0.00358972       0.00358972
23      V24  0.00349342       0.00349342
21      V22  0.00318505       0.00318505

## 2. Logistic Regression using standardised coefficients

In [56]:
from sklearn.linear_model import LogisticRegression
from sklearn.preprocessing import scale

In [71]:
lr = LogisticRegression (random_state = 42, solver = 'sag', max_iter=1000)

In [72]:
X_lr = pd.DataFrame (scale (X), columns = X.columns)
X_smote_lr = pd.DataFrame (scale (X_smote), columns = X.columns)

In [73]:
model_lr = lr.fit (X_lr, y)
model_smote_lr = lr.fit (X_smote_lr, y_smote)

In [76]:
model_lr.coef_

array([[ 0.63750354, -0.28170398,  0.6577945 ,  2.14316519, -0.06958141,
        -0.18935864,  0.63149515, -1.13657166, -0.30590214, -1.76720345,
         1.08133391, -2.33172986, -0.17230685, -3.67557311, -0.06953012,
        -0.82859581, -2.10553729, -0.32663407, -0.01632242, -0.21177234,
         0.02720429,  0.01286367,  0.09866292, -0.04396449,  0.31067115,
        -0.17939028,  0.07563425,  0.20201437,  0.14020153]])

In [90]:
abs (model_smote_lr.coef_ [0])

array([0.63750354, 0.28170398, 0.6577945 , 2.14316519, 0.06958141,
       0.18935864, 0.63149515, 1.13657166, 0.30590214, 1.76720345,
       1.08133391, 2.33172986, 0.17230685, 3.67557311, 0.06953012,
       0.82859581, 2.10553729, 0.32663407, 0.01632242, 0.21177234,
       0.02720429, 0.01286367, 0.09866292, 0.04396449, 0.31067115,
       0.17939028, 0.07563425, 0.20201437, 0.14020153])

In [91]:
variable_coefficient = (
    pd.DataFrame (
        [X_lr.columns, abs (model_lr.coef_ [0])])
    .transpose ()
    .sort_values (by = 1, ascending = False))

In [92]:
variable_coefficient

         0          1
13     V14    3.67557
11     V12    2.33173
3       V4    2.14317
16     V17    2.10554
9      V10     1.7672
7       V8    1.13657
10     V11    1.08133
15     V16   0.828596
2       V3   0.657795
0       V1   0.637504
6       V7   0.631495
17     V18   0.326634
24     V25   0.310671
8       V9   0.305902
1       V2   0.281704
19     V20   0.211772
27     V28   0.202014
5       V6   0.189359
25     V26    0.17939
12     V13   0.172307
28  Amount   0.140202
22     V23  0.0986629
26     V27  0.0756342
4       V5  0.0695814
14     V15  0.0695301
23     V24  0.0439645
20     V21  0.0272043
18     V19  0.0163224
21     V22  0.0128637