# James Lloyd - Exploratory Data analysis

#### Reading in credit fraud data
#### Data obtained from https://www.kaggle.com/mlg-ulb/creditcardfraud

In [2]:
import pandas as pd
import numpy as np
import seaborn as sns

import matplotlib.pyplot as plt
%matplotlib inline

#### Note, matplotlib inline allows plots to be displayed in jupyter notebooks

In [3]:
df = pd.read_csv ('../data/raw/creditcard.csv')

In [4]:
df.shape

(284807, 31)

In [5]:
df.columns

Index(['Time', 'V1', 'V2', 'V3', 'V4', 'V5', 'V6', 'V7', 'V8', 'V9', 'V10',
       'V11', 'V12', 'V13', 'V14', 'V15', 'V16', 'V17', 'V18', 'V19', 'V20',
       'V21', 'V22', 'V23', 'V24', 'V25', 'V26', 'V27', 'V28', 'Amount',
       'Class'],
      dtype='object')

### It's better to use .sample() instead of .head()

In [8]:
df.sample (5)

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
89143,62447.0,1.436075,-0.543677,-0.228048,-0.734305,-0.730617,-1.036880,-0.311605,-0.213513,-0.706490,...,0.112714,0.133838,-0.165040,-0.132113,0.670299,-0.111217,-0.032206,0.001200,29.50,0
52076,45261.0,-0.077515,-0.989908,-0.421795,1.701000,-1.825194,0.259901,2.113534,-0.151240,-0.132655,...,0.546892,0.668844,1.573428,0.290347,-0.628187,-0.409705,-0.191307,-0.084005,561.10,0
238687,149778.0,2.026527,-1.106691,-0.200923,-0.339185,-1.184604,0.142397,-1.269090,0.130509,0.571318,...,-0.298369,-0.335476,0.320028,0.409669,-0.464038,-0.432784,0.068969,-0.011025,47.11,0
218444,141320.0,1.785215,-0.382678,-1.876997,0.398142,0.076803,-0.732037,0.075962,-0.062329,0.937907,...,-0.166706,-0.533536,0.057758,-0.548197,-0.141992,-0.090177,-0.033242,-0.015984,115.92,0
6697,8319.0,-0.424671,0.572668,1.206903,-1.856929,0.407276,-0.534332,0.680425,-0.195243,2.389246,...,-0.123844,0.206307,-0.394025,-0.465199,0.330115,-0.823530,0.144603,0.126277,7.60,0

In [9]:
df.describe ()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
count,284807.000000,2.848070e+05,2.848070e+05,2.848070e+05,2.848070e+05,2.848070e+05,2.848070e+05,2.848070e+05,2.848070e+05,2.848070e+05,...,2.848070e+05,2.848070e+05,2.848070e+05,2.848070e+05,2.848070e+05,2.848070e+05,2.848070e+05,2.848070e+05,284807.000000,284807.000000
mean,94813.859575,3.919560e-15,5.688174e-16,-8.769071e-15,2.782312e-15,-1.552563e-15,2.010663e-15,-1.694249e-15,-1.927028e-16,-3.137024e-15,...,1.537294e-16,7.959909e-16,5.367590e-16,4.458112e-15,1.453003e-15,1.699104e-15,-3.660161e-16,-1.206049e-16,88.349619,0.001727
std,47488.145955,1.958696e+00,1.651309e+00,1.516255e+00,1.415869e+00,1.380247e+00,1.332271e+00,1.237094e+00,1.194353e+00,1.098632e+00,...,7.345240e-01,7.257016e-01,6.244603e-01,6.056471e-01,5.212781e-01,4.822270e-01,4.036325e-01,3.300833e-01,250.120109,0.041527
min,0.000000,-5.640751e+01,-7.271573e+01,-4.832559e+01,-5.683171e+00,-1.137433e+02,-2.616051e+01,-4.355724e+01,-7.321672e+01,-1.343407e+01,...,-3.483038e+01,-1.093314e+01,-4.480774e+01,-2.836627e+00,-1.029540e+01,-2.604551e+00,-2.256568e+01,-1.543008e+01,0.000000,0.000000
25%,54201.500000,-9.203734e-01,-5.985499e-01,-8.903648e-01,-8.486401e-01,-6.915971e-01,-7.682956e-01,-5.540759e-01,-2.086297e-01,-6.430976e-01,...,-2.283949e-01,-5.423504e-01,-1.618463e-01,-3.545861e-01,-3.171451e-01,-3.269839e-01,-7.083953e-02,-5.295979e-02,5.600000,0.000000
50%,84692.000000,1.810880e-02,6.548556e-02,1.798463e-01,-1.984653e-02,-5.433583e-02,-2.741871e-01,4.010308e-02,2.235804e-02,-5.142873e-02,...,-2.945017e-02,6.781943e-03,-1.119293e-02,4.097606e-02,1.659350e-02,-5.213911e-02,1.342146e-03,1.124383e-02,22.000000,0.000000
75%,139320.500000,1.315642e+00,8.037239e-01,1.027196e+00,7.433413e-01,6.119264e-01,3.985649e-01,5.704361e-01,3.273459e-01,5.971390e-01,...,1.863772e-01,5.285536e-01,1.476421e-01,4.395266e-01,3.507156e-01,2.409522e-01,9.104512e-02,7.827995e-02,77.165000,0.000000
max,172792.000000,2.454930e+00,2.205773e+01,9.382558e+00,1.687534e+01,3.480167e+01,7.330163e+01,1.205895e+02,2.000721e+01,1.559499e+01,...,2.720284e+01,1.050309e+01,2.252841e+01,4.584549e+00,7.519589e+00,3.517346e+00,3.161220e+01,3.384781e+01,25691.160000,1.000000

#### Check for the proportion of missing values . . . appears to be zero

In [12]:
total = df.isnull().sum().sort_values(ascending=False)
percent = (df.isnull().sum()/df.isnull().count()).sort_values(ascending=False)
missing_data = pd.concat([total, percent], axis=1, keys=['Total', 'Missing Percent'])
missing_data['Missing Percent'] = missing_data['Missing Percent'].apply(lambda x: x * 100)
missing_data#.loc[missing_data['Missing Percent'] > 10][:10]

        Total  Missing Percent
Class       0              0.0
V14         0              0.0
V1          0              0.0
V2          0              0.0
V3          0              0.0
V4          0              0.0
V5          0              0.0
V6          0              0.0
V7          0              0.0
V8          0              0.0
V9          0              0.0
V10         0              0.0
V11         0              0.0
V12         0              0.0
V13         0              0.0
V15         0              0.0
Amount      0              0.0
V16         0              0.0
V17         0              0.0
V18         0              0.0
V19         0              0.0
V20         0              0.0
V21         0              0.0
V22         0              0.0
V23         0              0.0
V24         0              0.0
V25         0              0.0
V26         0              0.0
V27         0              0.0
V28         0              0.0
Time        0              0.0

In [13]:
import pandas_profiling

In [ ]:
profile = df.profile_report(title='Pandas Profiling Report for Credit Card Fraud')
profile.to_file (output_file="fifa_pandas_profiling.html")